a{
    cursor: pointer;
}

li >a:hover
{
    color: #39A7FF;
}

.media-centre{
    background-image: linear-gradient(to right, #3ea161, #67b150, #95be39, #c7c71d, #ffcc00);
}

.group:hover .group-hover\:animate-bounce {
    animation: bounce .4s 2;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}