a{
    cursor: pointer;
}

li >a:hover
{
    color: #39A7FF;
}

.media-centre{
    background-image: linear-gradient(to right, #3ea161, #67b150, #95be39, #c7c71d, #ffcc00);
}

input::placeholder{
    color:#282828;
}

input, textarea, select{
    border-radius: 3px;;
    border: 1px solid #cbcaca;
}